@import "../../../assets/scss/v2/vars";
@import "../../../assets/scss/v2/mixins";
@import "../../../assets/scss/v2/utils/common";
@import "../../../assets/scss/v2/utils/scroll";

.dropdown-toggler {
   position: absolute;
   padding-left: 0;
   padding-right: 0;
   right: 2px;
   top: 50%;
   transform: translateY(-50%);

   // .app-icon-button {
       i.material-icons {
           display: none;
           color: white !important;
       }
   // }

   &.rotate .app-icon-button {
       transform: rotate(180deg) !important;
   }
}

[aria-level="1"] {
    padding-left: 12px;
}

[aria-level="2"] {
    padding-left: 12px;
}

[aria-level="3"] {
    padding-left: 16px;
}

